INSFORGE_URL=https://your-appkey.us-east.insforge.app
INSFORGE_API_KEY=your_api_key_from_insforge_cli
JWT_SECRET=4a1414a3-45c4-4688-85d7-e552ac7aa07d
PORT=3001
RAZORPAY_KEY_ID=rzp_test_Sz7pwY0fJJTGiE
RAZORPAY_KEY_SECRET=7lplgEOFYSdZuWk7X069BGsC